
.content-panel_header {
    text-transform: uppercase;
}

.challenge-header{
    font-size:4.5rem;
    &_line2{
        font-size:3.1rem;
    }
    &_line3{
        font-size:4.4rem;
    }
    @media only screen and (max-width:720px) {
        font-size:2.5rem;
    }
}

.content-row{
    position:relative;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:1% 30%;
    min-height:500px;
    

    &.m--life-mapping  {
        background-image: url("imgs/life-mapping-3.jpeg");
    }
    &.m--podcast {
        background-image: url("imgs/podcast.jpeg");
    }
    &.m--fit-for-destiny-intro-intro{
        background-image: url("imgs/program-bg-1.jpg");
    }
    &.m--pray {
        background-image: url("imgs/me-praying.jpg  ");
        background-position:50% 9%;
    }
    &.m--sweat{
        background-image: url("imgs/sweat.jpg");
        background-position-y: 11%;
    }
    &.m--learn {
        background-image: url("imgs/learn.jpg");
        background-position-y: 11%;
    }
    &.m--pray-sweat-learn-change{
        background-image: url("imgs/ffd.jpg");
        background-size: cover;
        background-position-y: 3%;
        height:100vh;
    }
    @media only screen and (max-width:720px){
        background-image:none;
    }
}



footer {
    background:#f5f5f5;
    &.container {
        text-align:center;
    }
}
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,.55);
    }
.relative{
    position: relative;
}

.si-button {
    width:100%;
    background: #9bc67e;
   // #7eb559
   //#88c162
   //#2f3e59
}

.mobile-img {
    background-repeat: no-repeat;
    background-size:cover;
    &.m--pray{
        background-image: url("imgs/praying-mobile.jpg");
     
    }
    &.m--sweat{
        background-image: url("imgs/sweat-mobile.jpg");
        
    }
    &.m--learn {
        background-image: url("imgs/learn-mobile.jpg");
        background-position:10% 29%;
    }
    &.m--podcast-bg-img{
        background-image: url("imgs/podcast.jpeg");
    }
    &.m--life-mapping-bg-img{
        background-image: url("imgs/life-mapping.jpeg");
    }
    &.m--pray-sweat-learn-change{
        position: absolute;
        height:100vh;
        z-index: 1;
        right:0;
        .ffd-hero-image-mobile{
            position: relative;
            height:100%;
        }
    }
}
@media only screen and (max-width:720px){
    .responsive-content {
        align-items:flex-end!important;
    }
    .content-row{
        &.custom{
        position:relative;
        background-image: none; 
        }
    }

    .mobile-img {
        position: relative;
        height:30vh;
    }
}

@media screen and (min-width:721px){
    .mobile-img {
        height:auto;
        background-image: none;
    }
    .ffd-hero-image-mobile{
        display:none;
    }
}

.alternate-background {
    background-color: #e5e5e5;
}

