body {
  width: 100%;
}

.hero {
  position: relative;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.15rem;
  padding-top: 74px;
  padding-bottom: 66px;
  color: #fff;
  background-color: #d3d3d3;
  text-decoration: none;
  height: 100%;
  height: 650px;
  max-height: 650px;
  min-height: 380px;
  z-index: 1;
}

.secondary-font {
  color: #554545;
}

.hero-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video[poster] {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
}

.background-video-content {
  position: relative;
  width: 600px;
  margin: auto;
}
@media screen and (max-width: 720px) {
  .background-video-content {
    width: 100%;
  }
}

.hero-statement {
  font-size: 4vw;
  font-size: 5vw;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.hero-statement.m--line-1 {
  font-size: 2rem;
}
.hero-statement.m--line-2 {
  position: relative;
  font-size: 3.5rem;
}
.hero-statement.m--line-3 {
  font-size: 2.7rem;
  margin-top: 0px;
}
.hero-statement.m--line-4 {
  font-size: 1.4rem;
  margin: 0;
}
.hero-statement.m--pre-header-text {
  font-size: 2rem;
}
.hero-statement.m--middle-statement {
  margin-top: 100px;
  font-weight: bold;
}
.hero-statement.m--bottom-hero {
  font-size: 1rem;
}
.hero-statement.m--podcast-line-1 {
  font-size: 2rem;
}
@media screen and (max-width: 720px) {
  .hero-statement {
    font-size: 3.3rem;
  }
  .hero-statement.m--line-1 {
    font-size: 3.5rem;
  }
  .hero-statement.m--line-2 {
    font-size: 1.8rem;
    line-height: 1rem;
    left: 23px;
  }
  .hero-statement.m--line-3 {
    font-size: 3.6rem;
  }
  .hero-statement.m--line-4 {
    font-size: 3.6rem;
  }
  .hero-statement.plus {
    font-weight: bold;
    position: absolute;
    left: -2%;
    top: 10%;
    font-size: 5rem;
    color: green;
  }
}

.join-now-header {
  background: #333333;
  color: #f1f1f1;
  padding: 10px 0;
}
.join-now-header .m--line-1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.join-now-header .m--line-2 {
  font-size: 1.5rem;
  color: #cdddc2;
}
.join-now-header .m--line-3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.join-now-header .m--line-4 {
  font-size: 1rem;
}

.content-panel {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 2rem;
  padding: 2rem;
}
@media only screen and (max-width: 720px) {
  .content-panel.m--mobile-hero {
    position: relative;
    z-index: 10;
    width: 90%;
    padding: 20px;
    margin: 50% 0 0 0;
  }
}
.content-panel_header {
  font-size: 5vw;
  color: purple;
}
@media only screen and (max-width: 720px) {
  .content-panel_header {
    color: #f1f1f1;
    font-size: 4rem;
    font-size: 7vw;
    line-height: 3.8rem;
  }
}
.content-panel .m--larger-panel-copy {
  font-size: 2rem;
  font-style: italic;
}
@media only screen and (max-width: 720px) {
  .content-panel .m--larger-panel-copy {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 720px) {
  .content-panel_copy.mobile {
    text-align: center;
    color: #f1f1f1;
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 720px) {
  .content-panel {
    margin: auto;
  }
}

.bottom-hero {
  position: relative;
  margin-top: 100px;
}

.hero-bottom-ribbon {
  background: #f6225c;
  height: 50px;
}

.bottom-header-container {
  position: relative;
  width: 40%;
  margin: 0 auto 20px;
}
@media only screen and (max-width: 720px) {
  .bottom-header-container {
    width: 98%;
  }
}

.video-title {
  background: #f6225c;
  height: 40px;
  text-align: center;
  line-height: 2.5rem;
  color: white;
  font-size: 1.3rem;
}

.number {
  position: absolute;
  background: purple;
  color: white;
  padding: 1rem;
  width: 60px;
  border-radius: 0 500% 0 0;
  height: 56px;
  /* left: 0; */
  font-weight: bold;
  font-size: 1.5rem;
}

.module-panel {
  background: #f9fafc;
  margin: 31px;
  border-radius: 10px;
  position: relative;
}

.absolute {
  position: absolute;
}
.absolute.m--bottom-header {
  text-align: center;
}

.bottom-0 {
  bottom: 0;
}

.width-100 {
  width: 100%;
}

.larger-callout {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.normal-weight {
  font-weight: normal;
}

.primary {
  color: #f6225c;
}

.secondary {
  color: #555555;
}

.tertiary {
  color: green;
}

.bg-dark {
  background: #333333;
}

.list-style-none {
  list-style: none;
  left: -17px;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}

.cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.gray-bg {
  background: #fafafa;
}

.width-95p {
  position: relative;
  width: 95%;
}

@media only screen and (max-width: 720px) {
  .header-container {
    position: relative;
    margin-top: none;
    color: #fefefe;
    text-align: center;
    height: 60px;
  }

  .bold-content-header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }

  .mobile-order-1 {
    order: 1;
  }

  .mobile-order-2 {
    order: 2;
  }

  .mobile-margin-t2 {
    margin-top: 2rem;
  }

  .mobile-p0 {
    padding: 0;
  }

  .mobile-bg-primary {
    background: #f6225c;
  }

  .mobile-bg-secondary {
    background: gray;
  }

  .mobile-bg-tertiary {
    background: #cdddc2;
  }

  .cover {
    display: none;
  }
}/*# sourceMappingURL=styles-1.css.map */