.hero{
    position: relative;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 1.15rem;
    padding-top: 74px;
    padding-bottom: 66px;
    color: #fff;
    background-color: #d3d3d3;
    text-decoration: none;
    height: 100%;
    max-height: 500px;
    min-height: 380px;
    z-index: 1;
    }
    .hero-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &.m--morning-still-img{
            background-image: url('imgs/life-mapping.jpeg');
            background-size:100%;
        }
    }
    video[poster] {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius:5px;
        -webkit-border-radius:5px;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,.65);
    }
    
    .background-video-content{
        position: relative;
        //width:500px;
        margin:auto;
    }
    .hero-statement {
        font-size: 5rem;
        font-weight: bold;
        margin:1rem 0px 0px 0px;
        line-height: 5rem;
        text-transform: uppercase;
        &_p {
            font-size:2rem;
        }
      
        &.m--ffd {
            line-height: 2rem;
            @media only screen and (max-width:720px){
                font-size:3rem;
                line-height: 3rem;
            }
            &_h2{
                text-transform:uppercase;
                font-size:6.7rem;
                @media only screen and (max-width:720px){
                    font-size:3rem;
                    line-height: 3rem;
                }
               
            }
        }
        &.m--line-2{
            font-size: 3rem;
            position: absolute;
            top: 29px;
            left: 58px;
            color: #f6225c;
        }
        &.m--line-3{
            font-size: 2.1rem;
            margin-top: 0px;
        }
    }
    
    .header-img {
        width:100px;
    }
    .number {
        position: absolute;
        background: #f43763;
        color: white;
        padding: 1rem;
        width: 60px;
        border-radius: 0 500% 0 0;
        height: 56px;
        /* left: 0; */
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .module-panel {
       
        //margin: 30px;
        border-radius: 10px;
        position: relative;
        padding:0;
        border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        h1 {
            background: #59526d;
            color: white;
            height: 56px;
            border-radius: 0 5px;
            -webkit-border-radius: 0px 5px 0px 0px;
            -moz-border-radius: 0px 5px 0px 0px;
        }
        &_wrapper{
            position:relative;
            width:97%;
            background: #f9fafc; 
            &.m--background{
                position: relative;
                background:#f43763;
                min-height:200px;
                color: white;
                border-radius: 5px;
                -webkit-border-radius:5px;
                box-shadow: 5px 10px rgba(0,0,0,.2);
            } 
        }
        &_single-title {
            position:relative;
            top:39%;
            font-size:2.5rem;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            @media only screen and (max-width:720px){
                font-size:8vw;
            }
        }
    }

    //sub pages

    .sub-page-header-titles{
        &_p{
            font-size:1.4rem;
            margin:0;
        }
        &_h1{
            &.m--li1{
                margin-bottom:0px;
            }
            &.m--welcome-li2{
                font-size: 2rem;
                font-weight: bold; 
            }
        }
    }
  

//Utitlities

.si-buttons{
    width:100%;
}

footer{
    margin: 0;
    height: 50px;
    line-height: 50px;
    background: #f2f2f2;
    margin-top: 50px;
    text-align: center;
}
    
    
    